@model IEnumerable<TheMusicExchangeProject.Models.UserSkillsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="container-fluid searching">
            <div class="row" style="display:inline-flex;">
                <div class="col-sm-6" style="margin-top:0.5em;">
                    <div class="slider-labeltext">
                        Find someone that plays: 
                    </div>
                    <input type="text" name="SearchString" />
                </div>
                <div class="col-sm-6" style="margin-top:0.5em;  margin-left:1em; margin-bottom:0.5em;">
                    <div class="slider-labeltext">
                        At skill level:
                    </div>
                    <select name="selectedLevel" asp-items="ViewBag.levels" value="@ViewData" ["levelFilter"]"></select>
                </div>
            </div>
            <div class="row" style="padding:1em;">
                <div class="slider-labeltext col-sm-12">Set Distance in Miles:

                <ejs-slider name="selectedDistance" id="default" value="@ViewData" ["distanceFilter"]" min="0" max="ViewBag.max" showButtons="true" step="1" type="MinRange">
                    <e-slider-tooltipdata isVisible="true"></e-slider-tooltipdata>
                </ejs-slider>
                </div>
            </div>
            <div class="row" style="padding:1em;">
                <div class="col-sm-12" style="margin-top:0.25em;">   
                    <input type="submit" value="Search" class="btn btn-default" />
                    <a asp-action="Index">Clear Search</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="leftcolumn" id="leftcolumn">
<div class="centered">
    <section class="cards">
    @foreach (var item in Model)
    {
        <article class="card">
            <div class="card-content h-100">
                <div class="card-frame">
                    <div>
                        <img src="@Url.Action("GenerateProfilePictures", "Account", new {id = item.Users.Id})" class="card-pic" />
                    </div>
                </div>
                <h3 class="card-title">
                    @Html.DisplayFor(modelItem => item.Users.Name)
                    <br />
                    @Html.DisplayFor(modelItem => item.Skills.SkillName)
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Age) Years old <br />   
                    @Html.DisplayFor(modelItem => item.Distance) Miles away
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Users.Bio)
                </p>
                <p>
                    <a asp-action="Connect" asp-route-id="@item.Users.Id" class="connect-btn">Connect</a>
                    <a asp-action="Block" asp-route-id="@item.Users.Id" class="block-btn">Block</a>
                </p>
            </div>
        </article>
    }
    </section>
</div>
</div>
<div class="rightcolumn">
    <div class="list-card">
        <h3>Requests:</h3>
        <div id="requests" class="hidden">
        <ul>
            @foreach (var connection in ViewBag.reqData)
            {
                <li>
                    @connection.Users.Name - @connection.Users.Email
                    <a asp-action="Connect" asp-route-id="@connection.Users.Id" class="connect-btn">Accept</a>
                    <a asp-action="Disconnect" asp-route-id="@connection.Users.Id" class="block-btn">Decline</a>
                </li>
            }
        </ul>
        </div>
        <button id="show-hide-btn" onclick="showhideRequests()">. . .</button>
    </div>
    <div class="list-card">
        <h3>Your Connections:</h3>
        <div id="connections" class="hidden">
        <ul>
            @foreach (var connection in ViewBag.conData)
            {
                <li>
                    <a asp-area="" asp-controller="Chat" asp-action="Index">@connection.Users.Name - @connection.Users.Email</a>
                    <a asp-action="Disconnect" asp-route-id="@connection.Users.Id" class="block-btn">Disconnect</a>
                </li>
            }
        </ul>
        </div>
        <button id="show-hide-btn" onclick="showhideConnections()">. . .</button>
    </div>
    <div class="list-card">
        <h3>Your Blocks:</h3>
        <div id="blocks" class="hidden">
        <ul>
            @foreach (var block in ViewBag.blkData)
            {
                <li>
                    @block.Users.Name
                    <a asp-action="Unblock" asp-route-id="@block.Users.Id" class="block-btn">Unblock</a>
                </li>
            }
        </ul>
        </div>
        <button id="show-hide-btn" onclick="showhideBlocks()">. . .</button>
    </div>
</div>