@model IEnumerable<TheMusicExchangeProject.Models.UserSkillsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find someone that plays: <input type="text" name="SearchString" />
            At skill level: <select name="selectedLevel" asp-items="ViewBag.levels" value="@ViewData"["levelFilter"]"></select>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Clear Search</a>
        </p>
    </div>
</form>

<div class="profile-row">
    @foreach (var item in Model)
    {
        <div class="profile-column">
            <div class="profile-card">
                <h3>
                    @Html.DisplayFor(modelItem => item.Users.Name)
                    @Html.DisplayFor(modelItem => item.Skills.SkillName)
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Age)
                    @Html.DisplayFor(modelItem => item.Users.Postcode)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Users.Bio)
                </p>
                <p>
                    <a asp-action="Connect" asp-route-id="@item.Users.Id">Connect</a>
                    <a asp-action="Block" asp-route-id="@item.Users.Id">Block</a>
                </p>
            </div>
        </div>
    }
</div>
