@model IEnumerable<TheMusicExchangeProject.Models.UserSkillsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find someone that plays: <input type="text" name="SearchString" />
            At skill level: <select name="selectedLevel" asp-items="ViewBag.levels" value="@ViewData"["levelFilter"]"></select>
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Clear Search</a>
        </p>
    </div>
</form>
<div class="leftcolumn">
<div class="centered">
    <section class="cards">
    @foreach (var item in Model)
    {
        <article class="card">
            <div class="card-content">
                <h3>
                    @Html.DisplayFor(modelItem => item.Users.Name)
                    @Html.DisplayFor(modelItem => item.Skills.SkillName)
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Age)
                    @Html.DisplayFor(modelItem => item.Users.Postcode)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Users.Bio)
                </p>
                <p>
                    <a asp-action="Connect" asp-route-id="@item.Users.Id" class="connect-btn">Connect</a>
                    <a asp-action="Block" asp-route-id="@item.Users.Id" class="block-btn">Block</a>
                </p>
            </div>
        </article>
    }
    </section>
</div>
</div>
<div class="rightcolumn">
    <div class="list-card">
        <h3>Your Connections:</h3>
        <ul>
            @foreach (var connection in ViewBag.conData)
            {
                <li>
                    <a asp-area="" asp-controller="Chat" asp-action="Index">@connection.Users.Name - @connection.Users.Email</a>
                    <a asp-action="Disconnect" asp-route-id="@connection.Users.Id" class="block-btn">Disconnect</a>
                </li>
            }
        </ul>
    </div>
    <div class="list-card">
        <h3>Your Blocks:</h3>
        <ul>
            @foreach (var block in ViewBag.blkData)
            {
                <li>
                    @block.Users.Name
                    <a asp-action="Unblock" asp-route-id="@block.Users.Id" class="block-btn">Unblock</a>
                </li>
            }
        </ul>
    </div>
</div>