@model IEnumerable<TheMusicExchangeProject.Models.UserSkillsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<div class="profile-row">
    @foreach (var item in Model)
    {
        <div class="profile-column">
            <div class="profile-card">
                <h3>
                    @Html.DisplayFor(modelItem => item.Users.Name)
                    @Html.DisplayFor(modelItem => item.Skills.SkillName)
                    @Html.DisplayFor(modelItem => item.SkillLevel)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Age)
                    @Html.DisplayFor(modelItem => item.Users.Postcode)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Users.Bio)
                </p>
            </div>
        </div>
    }
</div>
